<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="8bb1bc97-2935-4c48-8aa7-d9cc76742d03" Publisher="CN=&quot;STAR MICRONICS CO., LTD.&quot;, O=&quot;STAR MICRONICS CO., LTD.&quot;, L=Suruga-ku, S=Shizuoka, C=JP" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="8bb1bc97-2935-4c48-8aa7-d9cc76742d03" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>StarIODeviceSettingSDK</DisplayName>
    <PublisherDisplayName>STAR MICRONICS CO.LTD.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="StarIODeviceSettingSDK.App">
      <uap:VisualElements DisplayName="StarIODeviceSettingSDK" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="StarIODeviceSettingSDK" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
</Package>