<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="13E94E0A.StarPRNTSDK" Publisher="CN=9047D213-D907-4006-9F15-606BAFD91AEC" Version="5.18.1.0" />
  <!--<mp:PhoneIdentity PhoneProductId="3B394E46-06D9-4601-8712-A34169366319" PhonePublisherId="00000000-0000-0000-0000-000000000000" />-->
  <mp:PhoneIdentity PhoneProductId="b3c1128f-e75b-4669-a108-18fd656087ff" PhonePublisherId="D725B8D4-7318-44D0-A9D2-8882D7015A46" />
  <Properties>
    <DisplayName>StarPRNT SDK</DisplayName>
    <PublisherDisplayName>STAR MICRONICS CO.LTD.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="StarPRNTSDK.App">
      <uap:VisualElements DisplayName="StarPRNT SDK" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="This application is a sample of WindowsStoreApp for StarMicronics product." BackgroundColor="#0042ff">
        <uap:DefaultTile ShortName="StarPRNT SDK">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen\SplashScreen.png" BackgroundColor="#ffffff" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
</Package>